*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}
body {
  background: linear-gradient(180deg, hsl(191, 96%, 91%), #eef7ff);
  font-family: Open Sans;
  font-size: 14px;
}
label,th,span {margin: 10px;padding:2px; 
    background: linear-gradient(135deg, hsla(203, 97%, 61%, 0.377), hsl(215, 87%, 65%));
    height: 40px;border:2px solid hsl(215, 87%, 65%);
            }
input, select {margin: 10px;
  padding:2px;
  height: 40px; 
  border:2px solid hsl(215, 87%, 65%);
  border-radius:0.5rem;
  background: #eef7ff;
}
span, label {
  border-radius:0.5rem;
}

div {display: flex; justify-content: center;}
button { color:white;
  background: linear-gradient(135deg, hsla(203, 97%, 61%, 0.377), hsl(215, 87%, 65%));
  padding:1rem 3rem 1rem 3rem;
  border-radius:5rem;
  border:2px solid hsl(215, 87%, 65%);
  font-size:1.5rem;
  line-height:1em;
  letter-spacing:0.075em;
  transition:background 0.3s;
  margin: 40px;
}
button:hover {
  cursor:pointer;
  background:hsla(203, 97%, 61%, 0.377); 
  }

table {text-align: left;}
td,th {width: 150px;border:2px solid hsl(215, 87%, 65%);}
